<nav class="navbar navbar-inverse navbar-static-top" data-ng-controller="HeaderController">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Stroper</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active:current('/')}"><a href="index.html/#/">Search</a></li>
                <li><a href="http://j.sws.nz">Jenkins</a></li>
                <li><a href="http://git.sws.nz">Gitlab</a></li>
                <li><a href="http://af.sws.nz">Agilefant</a></li>
            </ul>
        </div>
    </div>
</nav>
